
<ion-header>
    <ion-navbar>
        <ion-title>
            Couchbase w/ Ionic 2
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="add()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let item of items">
            {{ item.title }}
        </ion-item>F
    </ion-list>
</ion-content>

<ion-header>
    <ion-navbar>
        <ion-title>
            Couchbase w/ Ionic 2
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="add()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
 
<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let item of items">
            {{ item.title }}
        </ion-item>
    </ion-list>
</ion-content>